<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>®️Grand_Line®️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JHBM64M0VE"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-JHBM64M0VE');
</script>
<body>
    <header>
        <a href="#" class="logo"><i class="ri-home-heart-fill"></i><span>®️G_L(MMU)®️</span> </a>
        <ul class="navbar">
            <li><a href="{{ url_for('home_page') }}" >Home</a> </li>
            <li><a href="{{ url_for('about_page') }}">About the Creator</a></li>
            <li><a href="{{ url_for('market_page') }}">Market</a></li>
            <li><a href="{{ url_for('blog_page') }}">Blog</a></li>
            <li><a href="{{ url_for('contact_page') }}" class="active"> Contact</a></li>
        </ul>
        <div class="main">
            <a href="{{ url_for('login_page') }}" class="user"><i class="ri-user-fill"></i>Sign In</a>
            <a href="{{ url_for('register_page') }}">Register</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <section class="home" id="contact">
        <div class="contact-content">
            <h2>🌀 Contact the Captain</h2>
            <p class="contact-info">
                Got something to trade, a question to ask, or just wanna vibe with the crew?<br>
                Reach out to the one and only <strong>Madara</strong> — the ghost of the Uchiha.
            </p>
            <ul class="contact-info">
                <li><i class="fa-solid fa-phone"></i> Phone/WhatsApp: +254😂</li>
                <li><i class="fa-solid fa-envelope"></i> Email: 😜</li>
                <li><i class="fa-brands fa-instagram"></i> Instagram: 😂</li>
                <li><i class="fa-brands fa-telegram"></i> Telegram: 💀</li>
            </ul>
            <a href="mailto:mohammedkutunzajuma@gmail.com" class="btn">Send Message</a>
        </div>
    </section>   
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>