<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>®️GL_About®️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JHBM64M0VE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JHBM64M0VE');
    </script>
</head>

<body>
    <header>
        <a href="{{ url_for('home_page') }}" class="logo"><i class="ri-home-heart-fill"></i><span>®️G_L(MMU)®️</span> </a>
        <ul class="navbar">
            <li><a href="{{ url_for('home_page') }}" >Home</a> </li>
            <li><a href="{{ url_for('about_page') }}"class="active">About the Creator</a></li>
            <li><a href="{{ url_for('market_page') }}">Market</a></li>
            <li><a href="{{ url_for('blog_page') }}">Blog</a></li>
            <li><a href="{{ url_for('contact_page') }}"> Contact</a></li>
        </ul>
        {% if current_user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: lawngreen; font-weight: bold">
                        <i class="fas fa-coins"></i>
                        {{ current_user.prettier_budget }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Welcome, {{ current_user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
                <div class="bx bx-menu" id="menu-icon"></div>
            </ul>
          {% else %}
            <div class="main">
                <a href="{{ url_for('login_page') }}" class="user"><i class="ri-user-fill"></i>Sign In</a>
                <a href="{{ url_for('register_page') }}">Register</a>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>
          {% endif %}
    </header>
    <section class="home">
        <div class="home-img">
            <img src="{{ url_for('static', filename='images/about1.jpeg') }}" alt="">
        </div>        
        <div class="home-content">
            <h3 class="typing-text">I'm  <span></span></h3>
            <P>
                Welcome to the OnePiece Bay of campus life — where comrades buy, sell, and level up together.
                This ain’t just a marketplace... it’s a revolution.I don’t want fame. I want freedom. <br>               
                <p style="color: #ff7b00;">“Wealth, fame, power… I had it all. But I left it all in one place — the Grand Line.”
                    – Gol D. Roger<br></p>
                
                <p>And this... is MMU’s Grand Line!</p>
            </P>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <a href="https://tr.rbxcdn.com/180DAY-fced957e975a47150e94bf6e44a5c5d9/420/420/Hat/Webp/noFilter" class="btn">See Yourself!</a>
        </div>     
        
    </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
