<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>®️GL_register®️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url("{{ url_for('static', filename='images/img1.jpeg') }}") no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>   
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JHBM64M0VE"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JHBM64M0VE');
    </script>     
</head>

<body>
    <div class="wrapper">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
           <div class="alert alert-{{ category }}">
                <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                    <a href="{{ url_for('register_page') }}" style="color: aqua;">
                        <span aria-hidden="true"  >&times;</span>
                    </a>
                </button>
            {{ message }}
            </div>
           {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <form action="{{ url_for('register_page') }}" method="post">
            {{ form.hidden_tag() }}
            <h1>Register</h1>
        
            <div class="input-box">
                {{ form.username(class="input", placeholder="Username") }}
                <i class="bx bxs-user"></i>
            </div>
        
            <div class="input-box">
                {{ form.email_address(class="input", placeholder="Email") }}
                <i class="bx bxs-envelope"></i>
            </div>
        
            <div class="input-box">
                {{ form.password1(class="input", placeholder="Password") }}
                <i class="bx bxs-lock-alt"></i>
            </div>
        
            <div class="input-box">
                {{ form.password2(class="input", placeholder="Confirm Password") }}
                <i class="bx bxs-lock-alt"></i>
            </div>
        
            {{ form.submit(class="btn") }}
        
            <div class="register-link">
                <p>Welcome to the bay!</p>
            </div>
        </form>        
    </div>    
    <!--js-link-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>